#WiFiPassword {
  padding-top: 1em;
  line-height: 0;
  text-align: left;
}

img {
  display: inline;
}

.qr-image {
  padding-top:0;
}

.text {
  font-size: .75em
}

.layout-vertical {
  display: block;
}

.layout-horizontal {
  float: left;
  display: inline;
  padding-right: .5em;
}