<div id="WifiPassword" class="text" {% if not data.layoutVertical %}style="height:{{data.qrSize}}px"{% endif %}>
  <div id="qrdivModal" class="qr-image {% if data.layoutVertical %}layout-vertical{% else %}layout-horizontal{% endif %}" style="width:{{data.qrSize}}px; background-color:{{data.colorLight}}">
    {{data.content | safe}}
  </div>
  <div id="textDivModal">
    {% if data.showNetwork %}<p class="text network"><b>Network:</b> {{data.network}}</p>{% endif %}
    {% if data.showPassword %}<p class="text password"><b>Password:</b> {{data.password}}</p>{% endif %}
    {% if data.showAuthType %}<p class="text network-type"><b>Authentication Type:</b> {{data.authType}}</p>{% endif %}
    {% if data.debug %}<p class="text debug"><b>QR String:</b> {{data.qrText}}</p>{% endif %}
  </div>
</div>